.field {
  position: relative;

  &:has(.input:not(:placeholder-shown)) .label {
    display: none;
  }
}

.label {
  position: absolute;
  top: 50%;
  left: 17px;
  color: var(--color-gray-3);
  translate: 0 -50%;
}

.input {
  --fieldInputPaddingX: 16px;
  --fieldSeachInputIconSize: 16px;

  width: 100%;
  height: 48px;
  padding-inline: var(--fieldInputPaddingX);
  background-color: transparent;
  border: 1px solid #dedbea;
  border-radius: 12px;

  &:hover,
  &:focus {
    border-color: var(--color-primary);
  }

  &:focus {
    background-color: var(--color-white);
    outline: none;
    box-shadow: 0 0 0 4px rgb(108 92 231 / 10%);
  }

  &[type="search"] {
    &:placeholder-shown {
      padding-right: calc(var(--fieldInputPaddingX) * 2 + var(--fieldSeachInputIconSize));
      background-image: url('@/shared/assets/icons/icon-search_black.svg');
      background-position: calc(100% - var(--fieldInputPaddingX)) 50%;
      background-size: var(--fieldSeachInputIconSize);
      background-repeat: no-repeat;
    }
  }

  &.isInvalid {
    border-color: red;
  }
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 12px;
  color: red;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
